# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/

# Node
node_modules/

*.mp4
*.MOV
*.avi
*.webm

# Utilities
video_list.txt
_tools/
package-lock.json
package.json
